<h2>
  Places
</h2>


{{paper-input flex=80 label="Search" type="text" value=searchTerm onChange=(action (mut searchTerm)) }}

  {{#paper-list}}
      {{#each model.data as |place|}}
        {{#paper-item class="md-1-line" onClick=(transition-to 'places.show' place)}}

            <div class="md-list-item-text">

                <span>{{place.name}}</span>

            </div>
        {{/paper-item}}
        {{paper-divider}}
      {{/each}}
    {{/paper-list}}


<div class="button-right">


    {{#paper-button iconButton=true raised=true primary=true onClick=(transition-to 'places.new') }}
        {{paper-icon "add" }}
    {{/paper-button}}


</div>
