<h1>new place</h1>

{{paper-input
  label="Name"
  value=name
  onChange=(action (mut name))
  required=true
  errorMessages=(hash
    required="Place name is required"
  )
}}

{{paper-input
  label="Description"
  value=description
  onChange=(action (mut description))
}}

{{paper-input
  label="Telefono"
  value=phone
  onChange=(action (mut phone))
}}

{{paper-input
  class="md-block"
  type="number"
  label="Nivel"
  value=level
  onChange=(action (mut level))
  passThru=(hash min="0" step="1" )
}}

{{!file-upload}}

{{#paper-button
  raised=true
  primary=true
  onClick=(route-action 'submit')
}}
  <span>
    Save Place
  </span>
{{/paper-button}}

{{#paper-button raised=true primary=false onClick=(route-action 'cancel')}}
  <span>
    Cancel
  </span>
{{/paper-button}}
