<h2>show place</h2>

{{#leaflet-map lat=lat lng=lng zoom=zoom}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{!-- {{tile-layer url="http://{s}.tile.openstreetmap.us/hot/{z}/{x}/{y}.png"}} --}}


  {{#marker-layer location=place.location}}
    <h3>{{place.name}}</h3>
    Jugos y Refrescos<br>
    telf: 7892121
  {{/marker-layer}}

{{/leaflet-map}}
