
<div class="layout-column flex-xs flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Ubikate UMSS{{/text.headline}}
          {{/title.text}}
          {{!title.media size="lg" src="tomster-9918e85a7f1a28c78b484c34cbe88579.png" alt="Tomster" title="Tomster"}}
        {{/card.title}}

        {{#card.content}}
        La aplicación fue diseñada para ofrecer la mejor experiencia de usuario en dispositivos móviles. <br>
        No necesitas registrarte, no te pierdas dentro del campus universitario.<br>
        Si quieres ayudar a añadir más lugares, se bienvenido y registrate!<br>
        {{/card.content}}

        {{#card.actions}}
          {{#paper-button}}Registrate{{/paper-button}}
          {{#paper-button}}Login{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
</div>


<!-- {{outlet}} -->
