

    <div class="login-form">
      <!-- <div layout="" layout-sm="column"> -->
      <h1>Login</h1>

        {{paper-input

          label="Username"
          value=username
          onChange=(action (mut username))
          required=true
          errorMessages=(hash
            required="Username is required"
          )
        }}

        {{paper-input

          label="Password"
          type="password"
          value=password
          onChange=(action (mut password))
          required=true
          errorMessages=(hash
            required="Password is required"
          )
        }}
        

      {{#paper-button
        raised=true
        primary=true
        onClick=(route-action 'submit')
      }}
        <span>
          Iniciar sesión
        </span>
      {{/paper-button}}

      {{#paper-button raised=true primary=false onClick=(route-action 'cancel')}}
        <span>
          Cancel
        </span>
      {{/paper-button}}
      <!-- </div> -->
    </div>
