
<div class="layout-column flex-xs flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Reporte{{/text.headline}}
          {{/title.text}}
          {{!title.media size="lg" src="tomster-9918e85a7f1a28c78b484c34cbe88579.png" alt="Tomster" title="Tomster"}}
        {{/card.title}}
        {{#card.content}}
        Los lugares mas visitados son:
          {{horizontal-bar-chart data=model selectedSeedColor="green" sortAscending=false}}

        {{/card.content}}
      {{/paper-card}}
</div>
