<div class="layout-column flex-xs flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Registrate{{/text.headline}}
          {{/title.text}}
          {{!title.media size="lg" src="tomster-9918e85a7f1a28c78b484c34cbe88579.png" alt="Tomster" title="Tomster"}}
        {{/card.title}}
        {{#card.content}}

        Anota tu nombre, email y la razón para registrarte, un administrador se pondrá en contacto
        para completar el proceso de registro. Gracias!

          {{#paper-form onSubmit=(route-action "submit") as |form|}}

          {{paper-input
            block=true
            label="Nombre"
            value=name
            onChange=(action (mut name))
            required=true
          }}

            {{form.input block=true label="Email" value=Email onChange=(action (mut email)) required=true}}


            {{paper-input
              textarea=true
              block=true
              label="Porque quieres registrarte?"
              value=reason
              onChange=(action (mut reason))
              required=true
            }}

            <div class="layout-row">
              {{#form.submit-button raised=true primary=true}}Enviar{{/form.submit-button}}
              {{#paper-button raised=true primary=false onClick=(route-action 'cancel')}}Cancelar{{/paper-button}}
            </div>
          {{/paper-form}}

        {{/card.content}}
      {{/paper-card}}
</div>
